<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 어느 인터페이스와 연결할 건지 지정 -->
<mapper namespace="EmpMapper">
	<!-- list타입 이라도 list를 이루는 주체는 EmpVO, list타입으로 정의 안해도 됨 -->
	<select id="getEmpList" resultType="EmpVO">
		SELECT * FROM employees
	</select>
</mapper>
