<?xml version="1.0" encoding="UTF-8"?>
<!-- applicationContext(컨테이너에서 객체 생성 , 조립 하는 역할) 설정 파일 -->
<!-- bean : 컨테이너가 관리하는 객체 -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	<!-- <bean id="tv" class="com.yedam.spring.SamsungTv"></bean> -->
	
	<!-- 지정된 경로로 관련 어노테이션 모두 scan하기 시작함 -->
	<!-- context:component-scan base-package="com.yedam.spring"></context:component-scan> -->
	<context:component-scan base-package="com.yedam"></context:component-scan>
</beans>
